.u-section-1 .u-sheet-1 {
  min-height: 764px;
}

.u-section-1 .u-text-1 {
  margin: 45px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 53px;
  margin-bottom: 60px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 538px;
}

.u-section-1 .u-container-layout-1 {
  padding: 11px 30px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-image-1 {
  height: 212px;
  margin-top: 75px;
  margin-bottom: 0;
  width: 212px;
}

.u-section-1 .u-line-1 {
  width: 256px;
  margin: 13px auto 0;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 12px auto 0;
  padding: 0;
}

.u-section-1 .u-icon-1 {
  font-size: 1.4em;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 538px;
}

.u-section-1 .u-container-layout-2 {
  padding: 11px 23px;
}

.u-section-1 .u-text-3 {
  margin: 0;
}

.u-section-1 .u-image-2 {
  width: 306px;
  height: 174px;
  margin: 42px auto 0;
}

.u-section-1 .u-line-2 {
  width: 256px;
  margin: 25px 29px 0 auto;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 19px 101px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-2 {
  font-size: 1.4em;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 538px;
}

.u-section-1 .u-container-layout-3 {
  padding: 24px 19px;
}

.u-section-1 .u-text-4 {
  margin: 0;
}

.u-section-1 .u-image-3 {
  width: 258px;
  height: 172px;
  margin: 79px 25px 0 auto;
}

.u-section-1 .u-line-3 {
  width: 256px;
  margin: 32px auto 0;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  margin: 16px 91px 0 auto;
  padding: 0;
}

.u-section-1 .u-icon-3 {
  font-size: 1.4em;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 54px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 90px;
    position: relative;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 444px;
  }

  .u-section-1 .u-image-1 {
    height: 168px;
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 253px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 501px;
  }

  .u-section-1 .u-image-2 {
    width: 267px;
    height: 151px;
  }

  .u-section-1 .u-line-2 {
    margin-right: 11px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 501px;
  }

  .u-section-1 .u-image-3 {
    margin-right: 17px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 32px;
    margin-right: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 326px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 64px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 80px;
    margin-bottom: 0;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 102px;
    width: auto;
  }

  .u-section-1 .u-line-1 {
    width: 180px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-image-2 {
    width: 194px;
    height: 110px;
  }

  .u-section-1 .u-line-2 {
    width: 194px;
    margin-right: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 253px;
  }

  .u-section-1 .u-image-3 {
    width: 202px;
    height: 135px;
    margin-right: 0;
  }

  .u-section-1 .u-line-3 {
    width: 202px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 2409px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 21px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    height: 295px;
    width: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 569px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1269px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 28px;
  }

  .u-section-1 .u-layout-wrap-1 {
    margin-top: 103px;
    margin-bottom: 39px;
    position: relative;
  }

  .u-section-1 .u-image-1 {
    height: 182px;
    width: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 358px;
  }
}